:root {
  --theme: #181818;
  --secondary-color: #9b0006;
  --text-white: #fff;
  --text-black: #000;
  --text-color-secundary: #e4030b;
}

body {
  max-width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: var(--theme);
  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow: hidden;
}

#loader{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999;
}

#loader>.loader {
  background-image: url('../images/Loader.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: absolute;
}

#loader>.loader:nth-child(1){
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  animation: leftMove 2s 5s ease-in forwards;
}

@keyframes leftMove {
  100% {
      margin-left: -1400px;
  }
}

#loader>.loader:nth-child(2){
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  animation: rigthMove 2s 5s ease-in forwards;
}

@keyframes rigthMove {
  100% {
      margin-left: 1400px;
  }
}

#header {
  height: max-content;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--secondary-color);
  border-top: 5px solid var(--secondary-color);
}

.center {
  width: 75%;
  margin: 0px auto;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  flex: 1;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 13%;
}

#logo img {
  width: 100px;
}

#brand {
  color: var(--text-white);
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  flex: 1;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
}

#menu a {
  text-decoration: none;
  color: var(--text-white);
  transition: 300ms all;
}

#menu a:hover {
  color: var(--text-color-secundary);
}

.activeLink{
  color: var(--text-color-secundary);
}

#slider {
  width: 100%;
  height: 350px;
  /*line-height: 320px;*/
  color: white;
  text-shadow: 0px 0px 5px #444;
  /*DEGRADADO CSS*/
  background-image: url('../images/Banner.png'); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Play', sans-serif;
}

.btn-white {
  display: block;
  background: white;
  color: rgb(88, 88, 88);
  padding: 10px;
  width: 100px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  margin-top: 40px;
  border-radius: 4px;
  transition: 300ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 53px;
}

#content {
  
  width: 90%;
  /* float: left; */
  min-height: 650px;
  margin: auto;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;
}

.btn {
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn-success {
  background: rgb(23, 150, 19);
}

.btn-success:hover {
  background: black;
}

.mid-form {
  width: 50%;
  margin: 0px auto;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

input[type="text"], textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
}

input[type="text"]:focus, textarea:focus {
  box-shadow: 0px 0px 5px #eee inset;
}

textarea {
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}

.radibuttons {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

#footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

#articles{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,23rem), 1fr));
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;

  background: rgba( 255, 255, 255, 0.10 );
  box-shadow: 0 5px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border-radius: 10px;

}

.article-item .image-wrap {
  max-width: 160px;
  height: 160px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
}

.article-item .image-wrap img {
  height: 100%;
  text-align: center;
  
}

.article-item h2 {
  color: var(--text-white);
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
  font-size: clamp(1rem, 2.3vw, 1.4rem); 
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.subheader {
  color: var(--text-white);
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-family: 'Play', sans-serif;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-top: 15px;
  margin-bottom: 0px;
  border: none;
}

/*RESPONSIVE*/

/*Desde la anchura 963px hasta la anchura 1488px de pantalla*/

@media (max-width: 1488px) {
  /*Se ejecutarán estos estilos*/
  .center {
      width: 85%;
  }
}

/*Desde la anchura 0px hasta la anchura 963px de pantalla*/

@media (max-width: 1314px) {
  #logo {
      float: none;
      width: 240px;
      margin: 0px auto;
      margin-top: 20px;
      justify-content: center;
  }
  #header {
      flex-direction: column;
  }
  .center {
      width: 95%;
  }
  #menu ul {
      width: auto;
  }
}

/* @media (max-width: 797px) {
  #logo {
      float: none;
      width: 240px;
      margin: 0px auto;
      margin-top: 20px;
  }
  #menu, #menu ul {
      clear: both;
      float: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      line-height: 43px;
  }
  #content {
      float: none;
      width: 100%;
  }
  #sidebar {
      float: none;
      width: 60%;
      margin: 0px auto;
      margin-bottom: 50px;
  }
  #slider h1 {
      padding-top: 115px;
      font-size: 25px;
  }
  .mid-form {
      width: 70%;
  }
}
@media (max-width: 497px) {
  #header {
      min-height: 130px;
      overflow: hidden;
  }
  #menu, #menu ul {
      line-height: 50px;
  }
  #menu ul li {
      margin-left: 7px;
      margin-right: 7px;
  }
  #slider {
      height: 180px;
  }
  #slider h1 {
      font-size: 19px;
      padding-top: 30px;
  }
  #slider .btn-white {
      margin-top: 20px;
  }
  #slider.slider-small {
      height: 100px;
  }
  #slider.slider-small h1 {
      padding-top: 35px;
  }
} */

.img404 {
  width: 300px;
  margin-top: 15px;
}

.subTitle {
  color: var(--text-white);
  font-size: 38px;
  padding-bottom: 10px;
  font-family: 'Play', sans-serif;
}

.littleTitle {
  color: var(--text-white);
  font-size: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-family: 'Play', sans-serif;
}

.alignHorizontal {
  display: flex;
  align-items: center;
}

.avatarChat{
  width: 48px;
  height: 48px;
}

.inputForo {
  width: 100%;
  margin-left: 10px;
  margin-right: 20px;
  display: grid;
}

.inputForo input{
  border-radius: 5px;
}

.sendMessage {
  cursor: pointer;
  height: 35px;
  margin-top: 30px;
}

.buttonsForo {
  display: flex;
  margin-left: 60px;
}

.inputHalf {
  width: 50% !important;
}

.containerMessage {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.avatarMessages {
  width: 35px;
  height: 35px;
}
.containerMessage p {
  color: #fff;
}

.containerMessage .message {
  margin-left: 10px;
}

.containerMessage .message .name {
  font-size: 16px;
  font-weight: 700;
}
.containerMessage .message .name span{
  font-size: 13px;
  font-weight: 500;
}

.containerMessage .message .body {
  margin-top: -13px;
  text-align: left;
}
